apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: sugang-system
spec:
  type: LoadBalancer # localhost:3000 접속용
  ports:
  - port: 3000
    targetPort: 3000
  selector:
    app: frontend
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: sugang-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: my-frontend:v1
        imagePullPolicy: Never
        ports:
        - containerPort: 3000